<ion-view title="Announcements" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="announcements-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Annoucement 1</p>
    </div>
    <div id="announcements-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#3D71DF;">
        <strong>Highlighted accouncement</strong>
      </p>
    </div>
  </ion-content>
</ion-view>