<ion-view title="Events" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="events-card21">
      <ion-item class="item-avatar" id="events-list-item12">
        <h2>Group Connect</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/BHr3BaVTYSGaKTLhbt3C_0e6396526_1500500237_groupconnect-web-002.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="events-list-item-container2">
        <div id="events-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Interested in a small group?</strong> groupconnect will help you find a group that's just right for you. Have a light meal in the Pavilion and hear all about Oakwood small groups. </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="events-list-item13">
        <i class="icon ion-calendar"></i>Thursday, August 17 - 6:30 PM</ion-item>
    </div>
  </ion-content>
</ion-view>