<ion-view title="Feedback" id="page9">
  <ion-content padding="true" class="has-header">
    <h4 id="feedback-heading6" style="color:#000000;">Give us your feedback:</h4>
    <form id="feedback-form2" class="list">
      <label class="item item-input" id="feedback-textarea1">
        <span class="input-label">please enter feedback</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="feedback-button1" style="font-size:-3px;" class="button button-positive button-block">Submit Feedback</button>
  </ion-content>
</ion-view>