<ion-view title="Find Us" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="findUs-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Oakwood Baptist Church</strong> is located at: 2154 Loop 337 North New Braunfels, Texas 78130.</p>
    </div>
    <creator-map-component options="{&quot;mapTypeId&quot;:&quot;hybrid&quot;}" marker="true" location="2154 337 North, New Braunfels, Texas" zoom="15" style="display:block;position:relative;width:100%;height:400px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
  </ion-content>
</ion-view>