<ion-view title="Give" id="page8">
  <ion-content padding="true" class="has-header">
    <h3 id="give-heading7" style="color:#000000;">Give online</h3>
    <form id="give-form3" class="list">
      <ion-toggle toggle-class="toggle-positive" id="give-toggle3">Toggle</ion-toggle>
      <ion-radio id="give-radio3">Radio</ion-radio>
      <label class="item item-input" id="give-input4">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>