<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-balanced">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header side-menu-gradient">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item1" ui-sref="menu.oakwoodMobile()" menu-close="" active-page-highlight="">
          <i class="icon ion-home"></i>Home</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item3" ui-sref="menu.verse()" menu-close="" active-page-highlight="">
          <i class="icon ion-ios-alarm"></i>Daily Verse</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item5" ui-sref="menu.sermons()" menu-close="" active-page-highlight="">
          <i class="icon ion-mic-c"></i>Sermons</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item4" ui-sref="menu.events()" menu-close="" active-page-highlight="">
          <i class="icon ion-calendar"></i>Events</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item9" ui-sref="menu.page()" menu-close="" active-page-highlight="">
          <i class="icon ion-images"></i>Small Group Lessons</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item8" ui-sref="menu.social()" menu-close="" active-page-highlight="">
          <i class="icon ion-chatbubbles"></i>Social</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item10" ui-sref="menu.findUs()" menu-close="" active-page-highlight="">
          <i class="icon ion-map"></i>Find Us</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item14" ui-sref="menu.announcements()" menu-close="" active-page-highlight="">
          <i class="icon ion-map"></i>Find Us</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>