<ion-view title="Oakwood Mobile" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-balanced icon ion-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="oakwoodMobile-heading2" style="color:#000000;">Welcome to Oakwood Mobile!</h1>
    <div>
      <img src="img/L6XSlibS3esQa2YuzQGQ_oakwood_logo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p align="center">
      <a href="http://www.oakwoodnb.com">Click Here to Switch to Full Website</a>
    </p>
  </ion-content>
</ion-view>