<ion-view title="Page">
  <ion-content padding="true" class="has-header">

    <div class="list">
      <a class="item" href="#" onclick="window.open('http://oakwoodnb.com/small-group-pdfs/', '_system', 'location=yes'); return false;">
        Open a Browser
      </a>
    </div>
  </ion-content>
</ion-view>