<ion-view title="Selected Sermon" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="selectedSermon-heading5" style="color:#000000;">This week's sermon</h3>
    <div ng-init="videourl_video1=&quot;https://player.vimeo.com/video/227660121?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="selectedSermon-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>