<ion-view title="Sermons" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="sermons-list2">
      <ion-item id="sermons-list-item15" ui-sref="menu.selectedSermon()">I am Joseph</ion-item>
      <ion-item id="sermons-list-item18" ui-sref="menu.selectedSermon()">Joseph - A Forerunner to Jesus</ion-item>
      <ion-item id="sermons-list-item19" ui-sref="menu.selectedSermon()">The Land In-Between</ion-item>
    </ion-list>
  </ion-content>
</ion-view>