<ion-view title="Social" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="social-card22">
      <ion-item id="social-list-item16">Social Media</ion-item>
      <div class=" item item-image">
        <img src="img/GBcYFdQbGtymUEmqEHcw_facebook.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="social-list-item-container4">
        <div id="social-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Timeline</p>
        </div>
      </div>
      <ion-item class="item-icon-left" id="social-list-item17">
        <i class="icon ion-social-facebook"></i>Facebook</ion-item>
    </div>
  </ion-content>
</ion-view>