<ion-view title="Verse" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="verse-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Annoucement 1</p>
    </div>
    <div id="verse-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#3D71DF;">
        <strong>Highlighted accouncement</strong>
      </p>
    </div>
  </ion-content>
</ion-view>